html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	vertical-align: baseline;
}
input{
	font-size: 15px !important;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;
	overflow-y: hidden;
	padding: 0 !important;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 公共css */
.text-center{
	text-align: center;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.clearfix {
	zoom: 1;
}
.clearfix:before,
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
// 颜色
$purple: #5E0EFF;
$purple-light: #712BFD;
$purple-deep: #4600D1;

.text-purple{
	color: $purple;
}
.text-underline {
	position: relative;
	color: $purple;
	cursor: pointer;
}
.text-underline:hover{
	&::after{
		position: absolute;
		content: ' ';
		height: 2px;
		bottom: -2px;
		left: 0;
		right: 0;
		border-bottom: 1px solid $purple;
	}
}
// 动画
.fade-transform-leave-active,
.fade-transform-enter-active {
	transition: all .5s;
}
.fade-transform-enter {
	opacity: 0;
	transform: translateX(-30px);
}
.fade-transform-leave-to {
	opacity: 0;
	transform: translateX(30px);
}
/*fade*/
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
// block块
.block{
	background: #fff;
	padding: 20px;
	margin-bottom: 20px;
	.el-input__inner {
		border-radius: 0;
	}
}
// 按钮
.btn{
	min-width: 90px;
	height: 36px;
	padding: 0 10px;
	line-height: 36px;
	text-align: center;
	font-size: 14px;
	background: $purple;
	border-radius: 0;
	border-color: $purple;
	box-sizing: border-box;
	color: #FFFFFF;
}
.btn:focus, .btn:hover{
	background: $purple-light;
	border-color: $purple-light;
	color: #FFFFFF;
}
.btn:active{
	background: $purple-deep;
	border-color: $purple-deep;
	color: #fff;
}
.btn-default{
	border:1px solid rgba(226,227,229,1);
	color:rgba(51,51,51,1);
	background:rgba(245,246,249,1);
}
.btn-default:focus, .btn-default:hover{
	background:rgba(251,251,251,1);
	border-color: rgba(226,227,229,1);
	color:rgba(51,51,51,1);
}
.btn-default:active{
	background:rgba(236,237,242,1);
	border:1px solid rgba(226,227,229,1);
	color:rgba(51,51,51,1);
}

.btn-green{
	border:1px solid #03C8C7;
	color:#fff;
	background:#03C8C7;
}
.btn-green:focus, .btn-green:hover{
	background:#14D9D8;
	border-color: #14D9D8;
	color:#fff;
}
.btn-green:active{
	background:#01AEAE;
	border:1px solid #01AEAE;
	color:#fff;
}
// table
.table-wrapper{
	padding-bottom: 20px;
	background: #fff;
	.table-header{
		padding: 10px 20px;
		.table-title{
			font-size: 16px;
			font-weight: bold;
			color: #333;
		}
	}

	.el-table th{
		height: 50px;
		padding: 10px 0;
		font-weight: normal;
		font-size: 15px;
		color: #808080;
		background:rgba(251,251,251,1);
		border-bottom: none;
	}
	.el-table th:nth-child(1){
		padding-left: 10px;
	}
	.el-table td{
		height: 50px;
		padding: 6px 0;
		font-size: 15px;
		color: #000;
		.el-button{
			font-size: 15px;
		}
	}
	.el-table tbody tr:hover>td{
		background: #F8F8F8;
	}
	.el-table td:nth-child(1){
		padding-left: 10px;
	}
}
// 单行输入内容 table-input
.table-input{
	padding: 15px 25px;
	.el-table td:nth-child(1) {
		padding-left: 0;
	}
	th{
		background: #E6E6E6;
		color: #808080;
	}
	td{
		position: relative;
		color: #000000;
		.el-input__inner{
			border: 0;
			padding: 0;
		}
		.el-date-editor--date,
		.el-date-editor--year{
			padding-left: 30px;
		}
	}
	.el-table--enable-row-hover .el-table__body tr:hover > td, .el-table__body tr.current-row > td {
		background: none !important;
	}
}
// 搜索过滤条件
.filter-wrapper{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	display: flex;
	justify-content: space-between;
	padding-right: 20px;
	background: #fff;
	box-shadow:0px 1px 3px 0px rgba(207,207,207,0.5);
	.el-form-item__label{
		color: #333;
		display: inline-block;
		margin-bottom: 0;
		text-align: right;
		font-size: 15px;
		line-height: 32px;
	}
	.el-form-item{
		margin-bottom: 18px !important;
	}
	// 日期范围选择
	.el-date-editor {
		width: 280px !important;
	}
	// 下拉选择
	.el-select {
		width: 280px;
		height: 34px;
		line-height: 34px;
	}
	// 单个输入框
	.el-input {
		width: 280px;
		height: 34px;
    line-height: 34px;
	}
	.el-input__inner {
		border-color: #e5e5e5;
		border-radius: 0;
	}
	// 两个输入框
	.input-range{
		width: 280px;
		.el-input {
			width: 130px;
		}
		.line{
			display: inline-block;
			width: 10px;
		}
	}
}

.device-wrapper {
	.el-form-item{
		width: 396px;
	}
}

.amount-wrapper {
	.el-form-item{
		width: 380px;
	}
}



// }
/*分页*/
.pagination{
	margin-top: 15px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.content-container {
  margin: 24px 0;
  background-color: white;
  border: 1px solid #E3E2E2;
  border-radius: 6px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.el-table th {
  background-color: #F7F7F7;
}

.select-width-100 {
  display: block;
}

.hidden-all-selection {
  .el-table__header {
    .el-checkbox {
      display: none;
    }
  }
}

.el-calendar-table td.is-today .present {
	color: #fff;
	width: 20px;
	height: 20px;
	background: #5E0EFF;
	border-radius: 50%;
	display: inline-block;
	position: relative;
	top: -4px;
	line-height: 20px;
	text-align: center;
}


.el-calendar__header {
	padding-bottom: 30px;
	padding-left: 130px;
	position: relative;
}

.el-calendar__header::before {
	content: '';
	position: absolute;
	top: 18px;
	left: 20px;
	font-size: 16px;
}

.el-calendar__header::after {
	content: '';
	position: absolute;
	bottom: 8px;
	right: 20px;
	font-size: 12px;
}

.select-option-selected.hover{
	background: #5E0EFF;
	color:#ffffff;
	span {
		color:#ffffff !important;
	}
}

.select-stages-tip {
	float: left;
	margin-left: 10px;
	font-size: 13px;
}

.select-option-selected{
	color:#333333;
}

.import-sale .el-calendar__header::before {
	content: '销售额明细';
}

.import-sale .el-calendar__header::after {
	content: '单位：元';
}

.insert .el-calendar__header::before {
	content: '客流明细';
}

.insert .el-calendar__header::after {
	content: '单位：人次';
}

.el-table__row .cell div {
	text-align: center;
}

.setindex .el-table__row:nth-child(1) {
	.cell div {
		color: #fff;
		background-color: #f5a623;
	}
}
.setindex .el-table__row:nth-child(2) {
	.cell div {
		color: #fff;
		background-color: #ff3654;
	}
}
.setindex .el-table__row:nth-child(3) {
	.cell div {
		color: #fff;
		background-color: #3b5efe;
	}
}
.popconfirm__main {
  margin: 1em 0;

	.el-popconfirm__main {
		margin: 0.5em 0 1em;
	}
}

.left-wrapper {
	.el-form-item__label {
		text-align: left;
	}
}

.el-card {
	border: 0;
}

.el-card.is-always-shadow {
	border-radius: 0;
	box-shadow:0px 1px 3px 0px rgba(207,207,207,0.5);
}

$purple: #5E0EFF;
.new-block-title{
	background:#f8f8f8;
	position: relative;
	height: 44px;
	padding: 0 30px;
	line-height: 44px;
	&::before{
	  position: absolute;
	  top: 14px;
	  left: 20px;
	  content: '';
	  display: block;
	  width:5px;
	  height:16px;
	  background: $purple;
	}
}

.new-block {
	padding: 20px;
	background-color: #fff;
}

.remove-style {
	margin: 0;
	padding: 0;
	box-shadow: none;
}

.popper__arrow {
	display: none !important;
}

.el-link.el-link--default{
	line-height: 0;
	color:#5E0EFF !important;
}

.detailInfo{
	display:flex;
	flex-direction: row;
	justify-content: flex-start;
	padding:0 30px;
	flex-wrap: wrap;
	min-height:30px;
	background: #ffffff;
}

.state{
	width:35%;
	min-height: 28px;
	font-size: 15px;
	margin: 10px 0px;
	display: flex;
	justify-content: space-around;
}
.key-label{
	width:40%;
	text-align: right;
	color: rgba(153,153,153,1);
}
.value-label{
	width:40%;
	text-align: left;
	color: rgba(55,64,67,1);
}
  .createInfo{
		height: 60px;
    width: 100%;
		background: #ffffff;
		font-size:12px;
		font-weight:400;
		color:#333;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
  }
  .headLeft{
	  width: 48%;
	  display: flex;
	  justify-content: flex-start;
  }
  .headRight{
		width: 48%;
		display: flex;
		justify-content: flex-end;
	}
  .titleTwo{
	font-size:15px !important;
	font-weight:500 !important;
	color:rgba(51,51,51,1) !important;
  }

  .time-line-wrapper{
    .time-line-item{
      position: relative;
      height: 145px;
      padding-left: 30px;
      &::before{
        position: absolute;
        left: 0;
        top: 4px;
        content: ' ';
        height: 14px;
        width: 14px;
        border-radius: 50%;
        box-sizing: border-box;
        border:1px solid rgba(94,14,255,1);
      }
      &::after{
        position: absolute;
        left: 6px;
        top: 22px;
        content: ' ';
        width: 2px;
        height: 120px;
        background: #E6E6E6;
      }
      .time-line-header{
        line-height: 22px;
        font-weight:500;
        font-size: 16px;
        color: #333;
      }
      .time-line-content{
        margin-top: 15px;
        font-size:14px;
        font-weight:400;
        color:rgba(51,51,51,1);
        line-height:20px;
      }
      .time-line-footer{
        margin-top: 20px;
        font-size:14px;
        font-weight:400;
        color:rgba(102,102,102,1);
        line-height:20px;
      }
    }
    .time-line-item:nth-last-child(1){
      &::after{
        display: none;
      }
    }
  }

  .picTextStyle{
	  font-size: 13px;
	  color: #666666;
  }

  // .el-form-item__content{
	// 	width: 320px !important;
  // }

  .search-reset{
	  display: flex;
	  align-items: flex-start;
	  justify-content: space-between;
  }

// .el-select-dropdown {
// 	margin-top: 0 !important;
// }

// 新建 编辑
.filter-infor-wrapper{
	display: flex;
	justify-content: space-between;
	background: #fff;
	.el-form-item__label{
		color: #333;
		display: inline-block;
		margin-bottom: 0;
		text-align: right;
		font-size: 15px;
		line-height: 32px;
	}
	.el-form-item{
		margin-bottom: 18px !important;
	}
	// 日期范围选择
	.el-date-editor {
		width: 200px !important;
	}
	// 下拉选择
	.el-select {
		width: 200px;
		height: 34px;
		line-height: 34px;
	}
	// 单个输入框
	.el-input {
		width: 200px;
		height: 34px;
		line-height: 34px;
	}
	.el-input__inner {
		border-color: #e5e5e5;
		border-radius: 0;
	}
	// 两个输入框
	.input-range{
		width: 280px;
		.el-input {
			width: 130px;
		}
		.line{
			display: inline-block;
			width: 10px;
		}
	}
}

.el-image .el-icon-circle-close {
	color: #fff;
}

.stages-tip {
	color: #a6a9ad;
	margin-left: 10px
}

.set-sortable-align .cell {
	padding-right: 34px;
}

.set-last-cell .cell {
	padding-right: 30px !important;
}